
h1 {
  font-weight: 100;
  font-size: 50px;
}

p {
  font-size: 18px;
}

.main_container {
  width: 50%;
  height: 50vh;
  float: left;
  margin: 0;
  text-align: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.dark_background {
  background-color: black;
  opacity: 0.2;
  position: absolute;
  width: 50%;
  height: 50vh;
  animation: darkfadeout 1s;

}

.text_container {
  margin: 60px 80px;
  position: relative;
  top: 50%;
  transform: translateY(-75%);
}

.heading {

  transition: all 0.7s ease-in-out;
  transform: translate(0,8vh);
}

.content {
  position: relative;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  transform: translate(0,20vh);
  animation: fadeout 0.7s;
}

.main_container:hover .content{
  transform: translate(0,0);
  opacity: 1;
  animation: fadein 0.7s;
}
.main_container:hover .heading{
  transform: translate(0,0);
}
.main_container:hover .dark_background{
  opacity: 0.8;
  animation: darkfadein 1s;
}

/*Animation stuff*/
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {opacity:1;}
    to {opacity:0;}
}

@-webkit-keyframes darkfadeout { /* Safari and Chrome */
    from {opacity:0.8;}
    to {opacity:0.2;}
}

@-webkit-keyframes darkfadein { /* Safari and Chrome */
    from {opacity:0.2;}
    to {opacity:0.8;}
}


#box1 {
  color: white;
  background-image: url("/data/images/code.jpg");
}
#box2 {
  color: white;
  background-image: url("/data/images/music.jpg");
}
#box3 {
  color: white;
  background-image: url("/data/images/school.jpg");
}
#box4 {
  color: white;
  background-image: url("/data/images/cycling.jpg");
}
#box5 {
  color: white;
  background-image: url("/data/images/photos.jpg");
}
#box6 {
  color: white;
  background-image: url("/data/images/film.jpg");
}
