body {
  background-color: black;
  font-weight: 100;
  overflow: hidden;
}

h2 {
  font-weight: 100;
  font-size: 6.4vmin;
  margin: 0;
}

p {
  font-size: 3.2vmin;
}


.content {
  position: absolute;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.main_container {
  position: relative;
  overflow: hidden;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main_container:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.album {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: transparent;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
}

.album_art_container {
  position: relative;
  top: 6vmin;
  left: 0;
  width: 100%;
  height: 74vmin;
  float: left;
  margin: 0;
}

.album_art {
  /*position: relative;*/
  width: 70vmin;
  height: 70vmin;
  float: none;
  display: block;
  margin: 2vmin auto;
  background-size: cover;
  border-radius: 50%;
}

.songs_container {
  position: relative;
  top: 6vmin;
  left: 0;
  width: 100%;
  height: calc(100% - 92vmin);
  margin: 0;
  overflow: scroll;
}

.songs {
  color: white;
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 10vmin);
  height: calc(100% - 10vmin);
  float: left;
  margin: 5vmin;
}
